body {
  margin: 0;
  padding: 0;
}

.square {
  background-color: #FF0000;
  width: 300px;
  height: 300px;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 9px;
  border-right-width: 10px;
  border-top-width: 9px;
  border-bottom-width: 14px;
}
.square-yellow {
  position: absolute;
  background-color: #FFF00;
  width: 75px;
  height: 75px;
  top: 84px;
  right: ;
  bottom:;C
  left: 84px;
}
.square-purple {
  position: absolute;
  background-color: #800080;
  height: 150px;
  height: 150px;
  bottom: :;C
  left: 84px;
  right:;
  top: 84px;
}
.square2 {
  position: relative;
  background-color: #0000FF;
  width: 300px;
  height: 300px;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 9px;
  border-right-width: 10px;
  border-top-width: 7px;
  border-bottom-width: 10px;
  bottom: 7px;
  left: ;
  right: ;
  top: ;
}
.square-green {
  position: absolute;
  background-color: #008000;
  top: 398px;
  width: 150px;
  height: 150px;
  bottom: ;C
  right: ;
  top: 398px;
  left: 84px;
}
.square.orange {
  position: absolute;
  background-color: #000000;
  bottom: ;C
  left: 9px;
  right: ;
  top: 323px;
  height: 75px;
  width: 75px;
}
